{% extends 'polls/base.html' %}
{% block content %}
<h1>{{ poll.question }}</h1>

{% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <div class="radio">
      <label for="choice{{ forloop.counter }}">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        {{ choice.choice_text }}
      </label>
    </div>
{% endfor %}
<input class="btn btn-sm btn-success" type="submit" value="Vote" />
</form>
{% endblock %}
